<!DOCTYPE html>
<html>
<head>
    <title>php backbone.js example 2</title>
</head>
<body>

    <div id="messageList"></div>

    <!-- Templates -->
    <script type="text/template" id="tpl-message-item">
        <a href='#msg/<%= code %>'><%= message %></a>
    </script>

    <!-- JavaScript -->
    <script src="../js/jquery-2.0.3.min.js"></script>
    <script src="../js/underscore-min.js"></script>
    <script src="../js/backbone-min.js"></script>
    <script src="../js/example_2.js"></script>

</body>
</html>